* {
    box-sizing: border-box;
}

body{
background-color: black;
font-family: sans-serif;
margin: 0 ;
}

h1,h2{
    text-align: center;
    color: white;
}

h2{
    font-size: 32px;
}

.sortBtn{
  margin: 20px 30px;
  padding: 5px 15px;
  color: white; 
  background-color: #9b0e0d;
  border: none;
  border-radius: 3px; 
}

#sumDisplay{
    color: white;
    margin-left: 30px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: #9b0e0d;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    color: white;
}

.movie img{
    width: 100%;
}

.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding: 5px 15px;
    letter-spacing: 1px;
}

span{
    color: black;
}

.overview{
    background-color: brown;
    padding: 2rem;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3 ease;
}

.movie:hover .overview{
    transform: translateY(-0);
}

#favorite{
    text-align: center;
    color: white;
}

.favorite-button {
    display: block;
    position: absolute;
    top: 10px;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #9b0e0d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .favorite-button:hover {
    background-color: black;
  }
  
  .favorite-button:focus {
    outline: none;
  }
  
  .favorite-button:active {
    background-color: #003e80;
  }